*{
    box-sizing:border-box;
}

body{
 
   
}

.container{
    width:500px;
    height:600px;
    border:1px solid #fff;
    background-color: #fff;
    border-radius:5px;
    margin:0 auto;
    box-shadow: 4px 3px 5px 7px rgba(145,138,138,0.75);
}
.container .profileImg{
    width:100%;
    height:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .profileImg>img{
    border-right:3px solid #16A3B7;
    border-radius:60px;
    width:120px;
    height:120px;
    
}
.container .inputCont{
   display:flex;
   flex-direction: row;
   justify-content: space-around;
   margin:0 auto;
  padding-bottom:5px;
    width:80%;
}
.container .inputCont>span{
    color:#16A3B7;
    font-size:20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   width:20%;
}
.container .inputCont>input{
    width:65%;
    outline-color: #16A3B7;
    height:40px;
}
.container .btn{
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction: row;
    margin-top:10;
}

.container .btn>button{
    height:40px;
    width:75%;
    border-radius:5px;
    color:#fff;
    background-color: #16A3B7;
    border:1px solid #16A3B7;
    margin-top:10px;
    box-shadow: 4px 3px 5px 1px rgba(145,138,138,0.4); 
}